.custom-shape-divider-bottom-1667813352 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667813352 svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 32px;
}

.custom-shape-divider-bottom-1667813352 .shape-fill {
    fill: var(--orange);
}